{% extends 'base.html.twig' %}

{% block title %}ShareRecipes - My ingredients{% endblock %}

{% block body %}



    <section class="py-5 text-center container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto count">
                <h1 class="fw-light">My ingredients</h1>
                <p class="lead text-body-secondary">Here you can find all of your ingredients you have added so far, there are {{ ingredients.getTotalItemCount }} ingredients on your list.</p>
                <p>
                    <a href="{{ path('ingredient.new') }}" class="btn btn-secondary my-2">Add new ingredient</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% if ingredients is defined %}
                    {% for ingredient in ingredients %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images.pexels.com/photos/53588/tomatoes-vegetables-food-frisch-53588.jpeg" alt="">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text">{{ ingredient.name }}</p>
                                <div class="d-flex">
                                    <a href="{{ path('ingredient.edit', {id: ingredient.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a href="{{ path('ingredient.delete', {id: ingredient.id}) }}" type="button" class="btn btn-sm btn-outline-secondary delete-form">Delete</a>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-body-secondary">{{ ingredient.price }} €</small>
                                <small class="text-body-secondary">Added on {{ ingredient.createdAt|date("d/m/Y") }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                {% else %}
                Nothing to display
                {% endif %}

            </div>
            <div class="navigation mt-5">
                {{ knp_pagination_render(ingredients) }}
            </div>
        </div>

    </div>


{% endblock %}
